* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

h1, h2, p {
    padding: 1em 1.2em;
}

#game-container {
    width: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    'playersTurn playersTurn'
    'playerOneTitle playerTwoTitle'
    'playerOneScore playerTwoScore'
    'playerOneDice playerTwoDice'
    'buttonRoll buttonRoll'
    'buttonReset buttonReset';
    grid-gap: 10px;
    background-color: tomato;
    padding: 2em;
    border-radius: 10px;
}

#playersTurn {
    grid-area: playersTurn;
}

#playerOneTitle {
    grid-area: playerOneTitle;
}

#playerTwoTitle {
    grid-area: playerTwoTitle;
}

#player-1-scoreboard,
#player-2-scoreboard {
    padding: 0.3em;
    font-size: 50px;
}

#player-1-scoreboard {
    grid-area: playerOneScore;
}

#player-2-scoreboard {
    grid-area: playerTwoScore;
}

#player-1-dice,
#player-2-dice {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: monospace;
}

#player-1-dice {
    grid-area: playerOneDice;
}

#player-2-dice {
    grid-area: playerTwoDice;
}

.active {
    border: white 5px outset;
}

button {
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif; /* ohne wird default-font benutzt */
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    border-color: lightyellow;
    background-color: lightyellow;
    padding: 0.6em;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
}

#btn-roll-dice {
    grid-area: buttonRoll;
    display: none;
}

#btn-reset-game {
    grid-area: buttonReset;
    display: block;
}

#modal-window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#modal-content {
    width: 80%;
    margin: 0 auto;
    height: 250px;
    background-color: white;
}

@media (min-width: 350px) and (max-width: 455px) {
    #playersTurn {
        width: 200px;
        margin: 0 auto;
    }
}

@media (min-width: 455px) {
    #game-container {
        width: 400px;
    }
}

@media (min-width: 700px) {
    #game-container {
        width: 600px;
    }
}